<!DOCTYPE html>
<html>
	<head>  
		<title> Nadine's Address Book </title>
			
			<!-- custom stylesheet.css -->
			<link href = './static/stylesheet.css' rel = 'stylesheet'> 

			<!-- custom js -->

	




	</head> 
	
	



	<body>
		<h1> Nadine's Contacts: </h1>
		<table id = "list-contacts">
				<tr id= "lead-contact">
					<th> ID </th>
					<th> First Name </th>
					<th> Last Name </th>
					<th> Phone Number </th>
					<th> Email Address </th>
					<th> Modify Contacts </th>
				</tr>
		</table>

	</body>


</html?